/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display+SC&family=Raleway:wght@300;400&display=swap');

/* body background color and gradient */
body {
	/* background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(227, 191, 236, 1) 100%); */
	background: rgb(0,81,118);
background: linear-gradient(90deg, rgba(0,81,118,1) 7%, rgba(172,215,235,1) 49%, rgba(0,81,118,1) 84%);
}

html {
	scroll-behavior: smooth;
}

html.sr .load-hidden {
    visibility: hidden;
}

div.jumbotron {
	margin-top: 100px;
	height: 400px;
	background-image: url('images/look-out-blue.jpg');
	background-size: cover;
	/* opacity: 0.8; */
}

div.hero-text p {
	font-weight: bold;
}

div.hero-text h1 {
	font-family: Raleway, sans-serif;
}

/* navbar */
nav.navbg {
	border-bottom: 2px solid  rgb(0,81,118);
	background-color:  rgb(172, 215, 235);
}

nav a.navbar-brand {
	font-family: Poppins, sans-serif;
	background-color:  rgb(0,81,118);
}


/* Contact Me */

p.contact {
	margin-bottom: 0px;
}

/* social media icons */
a i,
span i {
	font-size: 4rem;
	color:  rgb(0,81,118);
}

a i:hover {
    opacity: 0.7;
}

/* container color */
div.about-me,
div.my-skills,
div.portfolio,
div.contact {
	background-color:rgb(220, 233, 240);
	font-family: Raleway, sans-serif;
}

div.skill-reveal {
	padding-top: 20px;
	padding-bottom: 50px;
}

/* portfolio items */

h5.card-title,
span.portfolio-heading,
h3 {
	color: rgb(0,81,118);
	font-weight: bold;
}


/* footer */
footer.footer {
	background-color:  rgb(172, 215, 235);
}

footer a.email {
	text-decoration: none;
}

footer a.email:hover {
	opacity: 0.7;
}